<!DOCTYPE html>
<html>
<head>
    <title>Student Database</title>
</head>
<body>
    <h1>Student Database</h1>

    <!-- Add Student Form -->
    <h2>Add Student</h2>
    <form method="POST" action="/students">
        <label>Student ID:</label>
        <input type="text" name="student_id" required><br><br>
        <label>First Name:</label>
        <input type="text" name="first_name" required><br><br>
        <label>Last Name:</label>
        <input type="text" name="last_name" required><br><br>
        <label>Date of Birth:</label>
        <input type="date" name="dob" required><br><br>
        <label>Amount Due:</label>
        <input type="number" step="0.01" name="amount_due" required><br><br>
        <input type="submit" value="Add Student">
    </form>

    <!-- Student List Table -->
    <h2>Student List</h2>
    <table>
        <thead>
            <tr>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Amount Due</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.student_id }}</td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.dob }}</td>
                <td>{{ student.amount_due }}</td>
                <td>
                    <a href="/students/{{ student.student_id }}">Edit</a>
                    <a class="button button-primary button-block" href="#"
                                        onclick="do_delete({{student.student_id}})">Delete</a>
                       <!-- <input type="submit" value="Delete">
                    </form>-->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Edit Student Form -->
    {% if student %}
    <h2>Edit Student</h2>
    <form method="POST" action="/students/{{ student.student_id }}?_method=PUT">
        <label>First Name:</label>
        <input type="text" name="first_name" value="{{ student.first_name }}" required><br><br>
        <label>Last Name:</label>
        <input type="text" name="last_name" value="{{ student.last_name }}" required><br><br>
        <label>Date of Birth:</label>
        <input type="date" name="dob" value="{{ student.dob }}" required><br><br>
        <label>Amount Due:</label>
        <input type="number" step="0.01" name="amount_due" value="{{ student.amount_due }}" required><br><br>
        <input type="submit" value="Update Student">
    </form>
    {% endif %}
    <script src={{url_for('static', filename="js/main.min.js" )}}></script>
    <script>
    function do_delete(id) {
        fetch(`/students/${id}`, { method: 'DELETE' })
                        .then(res => res.json())
                        .then(data => {
                            console.log('deletion data: ', data);
                            location.reload()
                            //code.innerHTML = JSON.stringify(data, null, 2);
                        })
                        .catch(err => {
                            console.error('error: ', err)
                        });
    }
</script>
</body>
</html>
